<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>235659659026-p1b74v0cgva4ic3g9mt7o17b3a5d727p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235659659026-p1b74v0cgva4ic3g9mt7o17b3a5d727p</string>
	<key>GCM_SENDER_ID</key>
	<string>235659659026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.athomas.RecettesMamieMone</string>
	<key>PROJECT_ID</key>
	<string>recettesmamie-d0853</string>
	<key>STORAGE_BUCKET</key>
	<string>recettesmamie-d0853.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:235659659026:ios:f8f55aa21f87465e</string>
	<key>DATABASE_URL</key>
	<string>https://recettesmamie-d0853.firebaseio.com</string>
</dict>
</plist>